body{
    background-image: url('/img/slate3.jpg');
}

#posts {
    width: 800px;
    margin: auto;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(89, 89, 89, 0.54);
}

#header {
    width: 1200px;
    height: 300px;
    text-align: center;
    background-image: url('/img/SAskyline.jpg');
}