body {
    background-image: url('/img/hardwood_background.jpg')
}

table, th, tr {
    width: 800px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(71, 43, 15, 0.33);
    padding: 3px;
}

tr:hover {
    background-color: red;
}

div {
    margin: 25px 250px;
}

button {
    margin: 10px 0px;
    outline: none;
}

tbody{
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}

button{
    color: white;
    background-color: rgba(71, 43, 15, 0.33);
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}