section {
    width: 400px;
    background-color: #000
}
div {
    width: 400px;
    background-color: #000
}

.textBoxes {
    width: 112px;
    height: 85px;
    border: 1px;
    margin: 8px;
    background-color: #d5d5d5;
}

.buttons {
    width: 85px;
    height: 85px;
    border: 1px;
    margin: 6px;
    font-size: 36px;
    background-color: #FFF
}