section {
    width: 400px;
}
div {
    width: 400px;
    background-color: #000080
}

.textBoxes {
    width: 112px;
    height: 85px;
    border: 1px;
    margin: 8px;
    background-color: #faf8d4;
    font-size: 36px;
}

.button {
    width: 85px;
    height: 85px;
    border: 1px;
    margin: 6px;
    font-size: 36px;
    background-color: #abfcac
}