body {
	background-color: #E1E1E1;
	font-family: 'Karla', sans-serif;
}

nav, footer {
	background-color: #000;
	margin: 0;
	font-weight: 700;
}

nav {
	height: 75px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*margin-bottom: 10px;*/
}

aside {
	background-color: #fff;
	height: 405px;
	width: 20%;
	border-radius: 3px;
	margin-right: 20px;
	margin-top: 67px;
	font-weight: 700;
	padding: 20px;
	position: absolute;
	left: 0;
}

footer {
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

ul {
	list-style: none;
}

/*Nav================================*/
.logo {
	margin-left: 15px;
}

.nav-list {
	text-align: center
}

.nav-list-item {
	display: inline-block;
	text-align: center;
}

.nav-link {
	color: #FF0;
	text-decoration: none;
	padding: 10px;
}
/*Sidebar============================*/
.sidebar-link{	
	color: #3AB707;
	text-decoration: none;
	margin-top: 10px;
}

/*Main Content=======================*/
.main-content {
	width: 75%;
	float: right;
	padding: 20px;
	position: relative;
	top: 125px;
}

.deathstar-img {
	margin: 20px;
	float: left;
}

/*Footer=============================*/
.wrapper {
	text-align: center
}

.social {
 	margin: 0 10px;
 	font-size: 40px;
  	color: #FF0;
  	text-decoration: none;
}

.copyright {
	color: #FF0;
	text-align: center
}