body {
	background-color: #E1E1E1;
}

nav, footer {
	background-color: #000;
	margin: 0;
}

nav {
	height: 75px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*margin-bottom: 10px;*/
}

aside {
	background-color: #fff;
	height: 405px;
	width: 20%;
	border-radius: 3px;
	padding: 20px;
	margin-right: 20px;
	margin-top: 67px;
	position: absolute;
	left: 0;
}

footer{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

ul {
	list-style: none;
}


/*Nav==========================*/
.logo{
	margin-left: 15px;
}

/*Sidebar======================*/
.sidebar-link{	
	color: #3AB707;
	text-decoration: none;
	margin-top: 10px;
}

/*Main Content=====================*/
.main-content{
	width: 75%;
	float: right;
	padding: 20px;
	position: relative;
	top: 125px;
}

.deathstar-img{
	margin: 20px;
	float: left;
}

/*Footer==========================*/
.footer-list {
	text-align: center
}

.footer-list-item {
	display: inline-block;
	text-align: center;
}

.footer-link {
	color: #FF0;
	text-decoration: none;
	padding: 10px;
}

.copyright {
	color: #FF0;
	text-align: center
}